{% extends 'base.html' %}

{% block title %}
: {{ snack.title }}
{% endblock title %}

{% block content %}
<div class="mt-5 ml-3 mr-3 mb-10 p-3 bg-gray-300 outline">
    <h2 class="text-3xl">Details about {{ snack.title }}</h2>
    <h2 class="text-xl mb-4">Purchased by <span class="text-2xl text-emerald-700">{{ snack.purchaser }}</span></h2>
    <p class="text-lg">{{ snack.description }}</p>
</div>
<a href="{% url 'snack_update' snack.pk %}" class="bg-blue-800 text-slate-100 p-2 rounded-lg drop-shadow-lg ml-3 hover:bg-blue-600">+ Update Snack</a>
<a href="{% url 'snack_delete' snack.pk %}" class="bg-blue-800 text-slate-100 p-2 rounded-lg drop-shadow-lg hover:bg-blue-600">+ Delete Snack</a>
<a href="{% url 'snack_list' %}" class="bg-green-800 text-slate-100 p-2 rounded-lg drop-shadow-lg ml-5 hover:bg-green-600">Return</a>

{% endblock content %}